.page-header {
  padding-left: 20px;
  padding-right: 20px;
  color: #1E2329;
  background: #FAD817;
  margin-bottom: 10px;
}

blockquote {
  border-left: none;
}

.progress {
  margin-bottom: 5px;
  margin-top: 5px;
}

.tournament-form {
  margin: 0px;
}

.doubles {
  float: left;
}

a {
  color: black;
}

.created-at {
  float: right;
}

.player1-name {
  float: left;
}

.player1-score {
  float: right;
}

.player2-name {
  float: right;
}

.player2-score {
  float: left;
}

.vs {
  text-align: center;
}


h4 {
  text-align: center;
}

.game-field {
  text-align: right;
}

.advice {
  text-align: center;
}
