.page-header {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  color: #1E2329;
  background: #FAD817;
  margin-bottom: 10px;
  margin-top: 0px;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 800;
}

h2 {
  color: #d8d7d2;
  margin: 10px;
}

.control-label {
  color: #d8d7d2;
}

.stats {
  max-height: 480px;
  overflow: scroll;
}

.games {
  height: 480px;
  overflow: scroll;
  margin-bottom: 0px;
}

body {
  background-image: url(/Liverpool-Anfield-Stadium-Wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.progress {
  margin-bottom: 5px;
  margin-top: 5px;
}

.player1-name, .player2-score {
  float: left;
}

.player2-name, .player1-score, .date, .record {
  float: right;
}

.inner-text {
  color: #d8d7d2;
}

.inner-text.hover:hover {
  color: rgba(35, 36, 40, 1);
  text-decoration: none;
  background-color: #f5f5f5;
}

.game-field {
  text-align: right;
}

.advice, .vs, h4, h2 {
  text-align: center;
}

.player-list {
  height: 280px;
  overflow: scroll;
}

.tournament-list {
  height: 480px;
  overflow: scroll;
  margin-bottom: 0px;
}

.tournament {
  border-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.progress-bar {
  background-color: #d6b915;
  color: black;
}

.panel-default {
  background-color: rgba(74, 77, 86, 0.75);
  border: none;
  border-radius: 0px;
}

.panel-default.create-tournament {
  height: 500px;
  margin-bottom: 0;
}

.nav-tabs {
  border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #FAD817;
  border: none;
}

.list-group-item:last-child, .list-group-item:first-child, .list-group-item {
  font-family: 'PT Sans', sans-serif;
  text-transform: capitalize;
  background-color: #4A4D56;
  border: none;
  border-radius: 0px;
}

.list-group-item.odd {
  background-color: #4A4D56;
}

.list-group-item.even {
  background-color: rgba(35, 36, 40, 1);
}

.carousel-control.right {
  background-image: linear-gradient(to top right,rgba(0,0,0, .0001) 40%,rgba(0,0,0,.5) 100%);
}

.carousel-control.left {
  background-image: linear-gradient(to top left, rgba(0,0,0, .0001) 40%, rgba(0,0,0,.5) 100%);
}

.carousel-caption {
  color: #FAD817;
  text-shadow: 0px 1px 4px black;
  bottom: 0%;
  right: 0%;
  left: 0%;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(to top, rgba(74, 77, 86, 1) 50%, rgba(74, 77, 86, 0.001) 100%) ;
}

.carousel-control {
  width: 10%;
  bottom: 21%;
}

.carousel-indicators {
  bottom: 0px;
}

.table-striped>thead {
  background-color: rgba(35, 36, 40, 1);
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: rgba(35, 36, 40, 1);
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #4A4D56;
}

.table>tbody>tr>td {
  border-top: none;
}

.modal-content {
  background-color: rgba(35, 36, 40, 1);
  color: #d8d7d2;
}

.list-group-item:last-child {
  margin-bottom: 80px;
}

.carousel-inner {
  background-color: rgba(74, 77, 86, .7);
  margin-bottom: 10px;
}
